<section class="user">
  <%= profile_image(@user) %>
  <h1><%= @user.name %></h1>
  <h2><%= mail_to(@user.email) %></h2>
  <p><%= @user.about %></p>
  <div class="actions"><%= link_to "Edit Account", edit_user_path(@user),
    class: "button edit" %></div>
</section>
